<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guest Management</title>
    <script type="text/javascript">
      window.history.forward();
      function noBack() {
          window.history.forward();
      }
  </script>
</head>
<body style="background-color:rgb(224, 220, 220)">
    <div class="container">
        <h1 class="mb-4">From Event Planning Agent</h1>
          <div class="card mt-4" style="background-color:rgb(201, 198, 198)">
            <div class="card-body">
              <h4 class="card-title">Thank you for your response!</h4>

              
            </div>
        
          </div>
        
      
      </div>
    
</body>
</html>